
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/

../.idea
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache

/node_modules
###< friendsofphp/php-cs-fixer ###
